{% extends 'curriculum/base_admin.html' %}

{% block title %}
    {% if form.instance.pk %}Editar Datos Personales{% else %}Crear Perfil{% endif %}
{% endblock %}

{% block content %}
<div class="admin-card">
    <div class="admin-card-header">
        <h2>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Datos Personales</h2>
        <a href="{% url 'curriculum:dashboard' %}" class="btn-volver">Volver</a>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-grid">
            <div class="form-group">
                <label class="form-label">Nombres:</label>
                <input type="text" name="nombres" value="{{ form.nombres.value|default:'' }}" placeholder="Ej: Juan Carlos">
            </div>
            <div class="form-group">
                <label class="form-label">Apellidos:</label>
                <input type="text" name="apellidos" value="{{ form.apellidos.value|default:'' }}" placeholder="Ej: Pérez Gómez">
            </div>
            <div class="form-group">
                <label class="form-label">Número de Cédula:</label>
                <input type="text" name="numerocedula" value="{{ form.numerocedula.value|default:'' }}" placeholder="Ej: 1234567890">
            </div>
            <div class="form-group">
                <label class="form-label">Género:</label>
                <select name="sexo" class="form-control">
                    <option value="" disabled {% if not form.sexo.value %}selected{% endif %}>Seleccione una opción</option>
                    <option value="H" {% if form.sexo.value == 'H' %}selected{% endif %}>Hombre</option>
                    <option value="M" {% if form.sexo.value == 'M' %}selected{% endif %}>Mujer</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Fecha de nacimiento:</label>
                <input type="date" name="fechanacimiento" value="{{ form.fechanacimiento.value|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
                <label class="form-label">Lugar de nacimiento:</label>
                <input type="text" name="lugarnacimiento" value="{{ form.lugarnacimiento.value|default:'' }}" >
            </div>
            <div class="form-group">
                <label class="form-label">Nacionalidad:</label>
                <input type="text" name="nacionalidad" value="{{ form.nacionalidad.value|default:'' }}">
            </div>
            <div class="form-group">
                <label class="form-label">Estado civil:</label>
                <input type="text" name="estadocivil" value="{{ form.estadocivil.value|default:'' }}" placeholder="Soltero/Casado">
            </div>
            <div class="form-group">
                <label class="form-label">Teléfono convencional:</label>
                <input type="text" name="telefonoconvencional" value="{{ form.telefonoconvencional.value|default:'' }}" placeholder="6666">
            </div>
            <div class="form-group">
                <label class="form-label">Teléfono fijo:</label>
                <input type="text" name="telefonofijo" value="{{ form.telefonofijo.value|default:'' }}" placeholder="0999999999">
            </div>
            <div class="form-group">
                <label class="form-label">Dirección domiciliaria:</label>
                <input type="text" name="direcciondomiciliaria" value="{{ form.direcciondomiciliaria.value|default:'' }}" placeholder="Calle 111">
            </div>
            <div class="form-group">
                <label class="form-label">Dirección de trabajo:</label>
                <input type="text" name="direcciontrabajo" value="{{ form.direcciontrabajo.value|default:'' }}" placeholder="Calle 111">
            </div>
            <div class="form-group">
                <label class="form-label">Licencia de conducir:</label>
                <input type="text" name="licenciaconducir" value="{{ form.licenciaconducir.value|default:'' }}" placeholder="A">
            </div>
            <div class="form-group">
                <label class="form-label">Sitio web:</label>
                <input type="url" name="sitioweb" value="{{ form.sitioweb.value|default:'' }}" placeholder="https://...">
            </div>
            <div class="form-group">
                <label class="form-label">Foto de perfil:</label>
                <input type="file" name="foto_perfil" id="fotoperfil">
            </div>
        </div>

        <div class="button-group">
            <button type="submit" class="btn-action btn-guardar">Guardar </button>
        </div>
    </form>
</div>
{% endblock %}